{% extends 'base.html' %}
{% load static %}

{% block title %}
Librarian Dashboard
{% endblock title %}
{% block content %}
<a class="btn" href="#check"> check </a>
<div id="books">
    <div id="student-books" class="row">
        {% comment %} books goes here {% endcomment %}
    </div>
</div>
<div class="d-flex justify-content-center">
    <div id="books-spinner">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>
<div class="text-center mb-3" id="end-box">
<button class="btn btn-primary" id="load-btn">load more</button>
</div> 

{% endblock content %}
{% block scripts %}
<script src="{% static 'library/javascript/student_bookshelf.js' %}" defer></script>
{% endblock scripts %}