{% extends 'base.html' %}

{% load static %}

{% block title %}
{{book.title}}
{% endblock title %}

{% block content %}
Student Book Details

{{book.title}}

{{user.student.student_id}}
 {% if user.student.borrowed == True %}
   you cant borrow a book for now 
 {% else %}
   
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteModal">
     Request
 </button>
 {% endif %}
 

<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TDeleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="POST" action="{% url 'student-request-book' book.id %}">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    Are you sure you want to request this <b>"book.title"</b>?

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
