{% extends "base.html" %}
{% block content %}
{% include "librarian/sidenav.html" %}
<div class="col d-flex flex-column h-sm-100" id="main">
  <main class="row overflow-auto">

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show col-lg-5" role="alert" id="message">
      <strong>Message: </strong> {{ message }}
    </div>
    {% endfor %}
    <div class="row ">
      <div class="d-flex my-2 col-lg-5">
        <a class="btn btn-success text-warning my-2 mx-2 col-5 rounded-pill" type="button"
          href="{% url 'add_books' %}">Add Book</a>
        <a class="btn btn-success text-warning my-2 col-5 rounded-pill" data-bs-toggle="modal"
          data-bs-target="#exampleModal" type="button" href="{% url 'add_books'%}">Add Category</a>
      </div>

      <form class="d-flex my-3 col-lg-6" method=" get">
        <input name="search" value="{{request.GET.search}}" class="form-control  me-2" type="search"
          placeholder="Search" aria-label="Search">
        <button class="btn btn-success text-warning border border-warning" text-primary" type="submit">Search</button>

      </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      {% for book in books %}
      <br>
      <div class="col">
        <div class="card h-100">
          {% if book.book_cover %}
          <img src="{{book.book_cover.url}}" alt="{{book.title}}" class="card-img-top" height="300px">
          {% else %}
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" height="300px" class="card-img-top"
            alt="Skyscrapers" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">
              {{book.about|truncatewords:15}}
            </p>
          </div>
          <p class="px-3 mx-3">
            <a href="{% url 'edit-book' book.id %}" class="btn text-warning btn-success">Edit</a>
            <a href="{% url 'delete-book' book.id %}" class="btn text-warning btn-success">Delete</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

  </main>
  <footer class="py-4 mt-auto mx-auto">
    <nav aria-label="Page navigation example">
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link bg-success text-warning" href="?page={{page_obj.previous_page_number}}">&laquo;
            Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-success" href="#">&laquo; Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link bg-success text-warning">Next &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-success">Next &raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
  </footer>
</div>



<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'add_category' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-success">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success text-warning">Save changes</button>
          </div>
        </form>
      </div>
      <h5>Categories</h5>
      {% for cat in category %}{{cat.name}} <br>{% endfor %}
    </div>
  </div>
</div>



<script>
  document.getElementById("books").classList.add("bg-warning", "px-5", "rounded-pill")
  setTimeout(function () {
    document.getElementById('message').style.display = "none";
  }, 4000);
</script>
{% endblock content %}