{% extends "base.html" %}

{% block content %}
<div class="container col-lg-6 mt-4 py-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">Add Book</h2>
    <form  method="POST" enctype="multipart/form-data" class="m-2" <!-- Name input -->
        {% csrf_token %}
        <img src="{{book.image.url}}" alt="" class="img-fluid">
        <div class="form-outline mb-4">
            <label class="form-label" for="id_title">Book Cover</label>
            {{form.image}}
        </div>


        <div class="form-outline mb-4">
            <label class="form-label" for="id_title">Title</label>
            {{form.title}}
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="id_description">Description</label>
            {{form.description}}
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="id_direction">Direction</label>
            {{form.direction}}
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="id_direction">Category</label>
            {{form.category}}
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex  mb-4">
            <label class="form-check-label" for="id_active">
                Active :
            </label>
            {{form.active}}
        </div>

        <!-- Submit button -->
        <div class=" d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-secondary col-lg-5 col-5 me-1 rounded-pill">Submit</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger col-lg-5 col-5 rounded-pill">Delete</button>
        </div>
    </form>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you want to delete {{book.title}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <a type="button" href="{% url 'delete-book' book.id %}" class="btn btn-primary">Yes</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
<script>
    document.getElementById("id_description").classList.add("form-control")
</script>
{% endblock scripts %}