{% extends "base.html" %}
{% block content %}
{% include "librarian/sidenav.html" %}
<div class="col d-flex flex-column h-sm-100">
  <main class="row overflow-auto container">

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
      <strong>Message: </strong> {{ message }}
    </div>
    {% endfor %}
<div class="row">
  <a class="btn btn-success text-warning rounded-pill col-3  mt-4 mb-4" type="button" href="{% url 'create_librarian' %}">Add Librarians</a>

</div>

  
{{librarian.full_name}}   
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      {% for librarian in librarians %}
      <br>
      <div class="col ">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{librarian.full_name|title}}   
            </h5>
            <p class="card-text">
              Email: {{librarian.user.email}}</p>
            <p class="card-text">
              Phone: {{librarian.user.phone}}
            </p>
          </div>
          <p class="px-3 mx-3">
          </p>
        </div>
      </div>
      {% endfor %}
    </div>  

  </main>


</div>

</div>
</div>
<script>
  document.getElementById("librarian").classList.add("bg-warning", "px-4", "rounded-pill")
  setTimeout(function () {
    document.getElementById('message').style.display = "none";
}, 4000);
</script>
{% endblock content %}