{% extends "base.html" %}
{% block content %}
{% include "librarian/sidenav.html" %}
<div class="col d-flex flex-column h-sm-100">
  <main class="row overflow-auto container-fluid">

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
      <strong>Message: </strong> {{ message }}
    </div>
    {% endfor %}
<div class="row">
  <a class="btn btn-success text-warning rounded-pill col-lg-3  mt-4 mb-4" type="button" href="{% url 'signup_school' %}">Add School</a>

  <!-- <form class="d-flex mt-4 mb-4 col-5" method=" get">
    <input name="search" value="{{request.GET.search}}" class="form-control  me-2" type="search" placeholder="Search"
      aria-label="Search">
    <button class="btn btn-light border border-success" text-primary" type="submit">Search</button>

  </form> -->
</div>

  
    {% for school in schools %}
    <!-- {{books}} <br> -->
    <br>
    <div class="col m-2">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{school.name}}</h5>
          <p class="card-text">
            {{school.user.email}}
          </p>
          <p class="card-text">
            {{school.user.phone}}
          </p>
          <p class="card-text">
            {{school.locations}}
          </p>
          <p class="card-text">
            {{school.school_number}}
          </p>
          <p class="card-text">
            {{school.gps_location}}
          </p>
          <p class="card-text">
            {{school.borrowed}}
          </p>
        </div>
        
      </div>
    </div>  
     <br>
    {% endfor %}

  </main>

  <footer class="bg-light py-4 mt-auto text-center">
    
  </footer>
</div>

</div>
</div>
<script>
  document.getElementById("schools").classList.add("bg-warning", "px-5", "rounded-pill")
  setTimeout(function () {
    document.getElementById('message').style.display = "none";
}, 4000);
</script>
{% endblock content %}