{% extends 'base.html' %}
{% load static %}

{% block title %}Approve Books{% endblock title %}

{% block content %}
<div class="container">
    {% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
    <strong>Message: </strong> {{ message }}
</div>
{% endfor %}
    <div>
        <form action="" method="post" id="approve-form">
            {% csrf_token %}
        <h3>School Order</h3>
        {% if school_request %}
        {% for order in school_request %}
        <table  class="table table-warning table-striped">
            <thead>
                <tr>
                    <th scope="col">school</th>
                    <th ope="col">Book</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody id="school-books-row">
              <tr>
                  <td>{{order.school.name}}</td>
                  <td>{{order.book}}</td>
                  <td>{{order.status}}</td>                   
                  <td>{{order.request_date}}</td>                   
                  <td>{{order.quantity}}</td>  
                  <td><input class="form-check-input btn-success text-warning" type="checkbox" value="{{order.id}}" name="box" id="flexCheckDefault" /></td>
                 
               </tr>
            </tbody>
          </table>
        {% endfor %}
        {% else %}
        No School Request At the Moment
        {% endif %}
    </div>



    <h3>Students Orders</h3>
    
    <table class="table table-warning table-striped">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Book</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for student_request in student_requests%}
            <tr>
                <td>{{student_request.student.name}}</td>
                <td>{{student_request.book.title}}</td>
                <td>{{student_request.status}}</td>
                <td>{{student_request.request_date}}</td>
                <td><input class="form-check-input btn-success text-warning" type="checkbox" value="{{student_request.id}}" name="boxes" id="flexCheckDefault" /></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    
        <button type="submit" class="btn btn-success text-warning rounded-pill col-5 m-auto">Approve Request</button>
    </form>
</div>
<script>

</script>

{% endblock content %}