{% extends 'base.html' %}


{% block content %}
<div class="container">

   <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-10 col-xl-8">
         <div class="card " style="border-radius: 1rem; background: hsla(0, 0%, 100%, 0.5);
                backdrop-filter: blur(20px);">
            <div class="card-body p-5 ">
               <h2 class="text-center mx-2 my-1 py-3 text-success">Change Password</h2>
               <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p}}
                  <button type="submit"  class="btn btn-success text-warning col-lg-6 mx-auto rounded-pill">Change Password</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
</style>
<script>
   document.getElementById("id_old_password").classList.add("form-control", 'text-warning')
   document.getElementById("id_new_password1").classList.add("form-control", 'text-warning')
   document.getElementById("id_new_password2").classList.add("form-control", 'text-warning')
</script>
{% endblock %}