{% extends 'base.html' %}


{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
    <strong>Message: </strong> {{ message }}
</div>
{% endfor %}
<!-- Book Details -->

<!-- {{book.title}}-- {{book.stock}} <br>

{{user.student.name}}
{{user.school.name}} -->
<div class="container col-lg-6 mt-5">
    <div class="card h-100 border-0">
        <h3 class="card-title text-center">{{book.title|title}}</h3>
        {% if book.book_cover %}
        <img src="{{book.book_cover.url}}" alt="{{book.title}}" class="card-img-top" height="300px">
        {% else %}
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" height="300px" class="card-img-top"
            alt="Skyscrapers" />
        {% endif %}
        <div class="card-body">
            <p class="card-text">
                {{book.about}}
            </p>
        </div>
    </div>

</div>
{% if borrowed %}
you cant borrow a book for now
{% else %}

<button type="button" class="btn btn-success text-warning" data-bs-toggle="modal" data-bs-target="#DeleteModal">
    Request
</button>
{% endif %}



<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TDeleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.groups.all.0.name == "student" %}
                <form method="POST" action="{% url 'student-request-book' book.id %}">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    Are you sure you want to request this <b>"book.title"</b>?

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </form>
                {% elif user.groups.all.0.name == "school" %}
                <form method="POST" action="{% url 'school-request-book' book.id %}">
                    {% csrf_token %}
                    Are you sure you want to request this <b>"{{book.title}}"</b>? <br>
                    {{request_form}}
                    quantity cannot exceed available stock
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Request</button>
                    </div>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("bookshelf").classList.add("bg-success", 'shadow-lg', 'rounded-pill', 'px-4')
</script>
{% endblock content %}