{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
<ul class="messages" id="alert">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col d-flex flex-column container h-sm-100">
  <main class="row overflow-auto ">

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
      <strong>Message: </strong> {{ message }}
    </div>
    {% endfor %}
    <div class="row ">
      <form class="d-flex mt-4 mb-4 col-lg-6 justify-content-center" method=" get">
        <input name="search" value="{{request.GET.search}}" class="form-control  me-2" type="search"
          placeholder="Search" aria-label="Search">
        <button class="btn btn-success border border-success text-warning" type="submit">Search</button>

      </form>
    </div>


    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    {% for book in books %}   
    <br>
      <div class="col">
        <div class="card h-100">
          {% if book.book_cover %}
          <img src="{{book.book_cover.url}}" alt="{{book.title}}" class="card-img-top" height="300px">
          {% else %}
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" height="300px" class="card-img-top"  alt="Skyscrapers" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">
              {{book.about|truncatewords:15}}
            </p>
          </div>
          <p class="px-3 mx-3">
            <a href="{% url 'book-detail' book.id %}" class="btn text-warning btn-success"> Read More</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

  </main>

  <footer class="py-4 mt-auto mx-auto">
    <nav aria-label="Page navigation example" >
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link bg-success text-warning" href="?page={{page_obj.previous_page_number}}">&laquo; Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-success" href="#">&laquo; Previous</a>
        </li>
        {% endif %}
        <!-- {% for i in paginator.page_range %}
        {% if forloop.counter < 5 %}
            <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
        {% endif %}
        <!-- {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link"><a>{{ i }}</a></span>
        </li>
        <!-- <li class="page-item"><a class="page-link active">{{ i }}</a></li> --
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %} --
        {% endfor %} -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link bg-success text-warning">Next &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link text-success">Next &raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
  </footer>
</div>

<script>
  document.getElementById("bookshelf").classList.add("bg-success",'shadow-lg','rounded-pill', 'px-4')
  setTimeout(function () {
    document.getElementById('message').style.display = "none";
}, 4000);
</script>

{% endblock content %}