{% extends 'base.html' %}


{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert" id="message">
    <strong>Message: </strong> {{ message }}
</div>
{% endfor %}
Book Details

{{book.title}}-- {{book.stock}} <br>

{{user.student.name}}
{{user.school.name}}
{% if borrowed %}
you cant borrow a book for now
{% else %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteModal">
    Request
</button>
{% endif %}



<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TDeleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.groups.all.0.name == "student" %}
                <form method="POST" action="{% url 'student-request-book' book.id %}">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    Are you sure you want to request this <b>"book.title"</b>?

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </form>
                {% elif user.groups.all.0.name == "school" %}
                <form method="POST" action="{% url 'school-request-book' book.id %}">
                    {% csrf_token %}
                    Are you sure you want to request this <b>"{{book.title}}"</b>? <br>
                    {{request_form}}
                    quantity cannot exceed available stock
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Request</button>
                    </div>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}