{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Update Settings .......</h1>

<form method="POST">
    {% csrf_token %}
    <!-- {{ form.as_p}} -->
    {{ librarian_form.as_p}}
    {{ user_form.as_p}}
<a class="btn btn-outline-dark rounded-pill" style="width: 60%;" href="{% url 'password_change' %}">Change Password</a>
<button type="submit" style="width: 30%;" class="btn btn-dark rounded-pill">Update</button>
</form>

</div>
<script>
</script>
<style>
   label[for="id_password"]{
      display:none;
   }
   .helptext{
      display: none;
   }
   #id_password{
      display: none;
   }
</style>
{% endblock content %}